// Add Option Error
.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

// Add Option
.add-option {
  display: flex;
  flex-direction: column; //stack for mobile
  padding: $m-size;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
  color: $off-white;
  flex-grow: 1; // to cope with all the remaining spaces
  margin: 0 0 $s-size 0; //margin for mobile
  padding: $s-size;
}

@media(min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row; //line up for desktop
  }
  .add-option__input {
    margin: 0 $s-size 0 0; //adjust margin for desktop
  }
}